::selection {
    @apply text-white bg-primary;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: royalblue;
}

a:visited {
    color: purple;
}

a:hover,
a:focus,
a:active {
    color: midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @apply font-normal text-text font-inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: rem(16px);
    line-height: 26px;
    hyphens: none;
    word-break: keep-all;
    word-wrap: normal;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @apply mb-4 font-bold text-dark-1;
        hyphens: none;
        letter-spacing: -0.02em;
        word-break: keep-all;
        word-wrap: normal;
        a {
            @apply text-light-3;

            &:hover {
                @apply text-primary;
            }
        }
    }
    h1,
    .h1 {
        font-size: 4rem;
        line-height: 2.4rem;
        @screen sm {
            font-size: 3rem;
            line-height: 3.6rem;
        }
    }
    h2,
    .h2 {
        font-size: 2.25rem;
        line-height: 2.9375rem;
    }
    h3,
    .h3 {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }
    h4,
    .h4 {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    h5,
    .h5 {
        font-size: 1rem;
        line-height: 1.4375rem;
    }
    h6,
    .h6 {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }

    ul {
        li {
            @apply mb-4;
        }
    }

    .info {
        ul {
            li {
                @apply relative mb-4;
                padding-left: 12px;
                &:before {
                    @apply absolute left-0;
                    background-image: url("../img/list.png");
                    background-repeat: no-repeat;
                    background-size: 50% 50%;
                    content: "";
                    height: 8px;
                    top: 11px;
                    width: 8px;
                }
                li {
                    &:first-child {
                        margin-top: 20px;
                    }
                }
            }
        }
        a {
            @apply underline;
        }
    }
}

p {
    @apply mb-4 text-dark-3;
    hyphens: none;
    word-break: keep-all;
    word-wrap: normal;
}

a {
    @apply text-primary;
    @mixin fade;
    &:hover {
        @apply text-secondary;
    }
}

input[type="text"],
select,
textarea {
    @apply font-normal text-light-1;
    border-radius: 9px;
    border: 1px solid theme(colors.primary.lighter);
    box-sizing: border-box;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
select {
    @apply appearance-none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("../img/arrow-select.svg") #fff no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../img/arrow-select.svg") #fff no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand {
    @apply hidden;
}

iframe {
    @apply w-full;
}

/* Content Editor */

.info {
    a {
        @apply font-bold underline;
        &.btn {
            @apply no-underline;
            font-weight: inherit;
        }
    }
}

/* Base Image WordPress */

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
a img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],
select {
    @apply w-full py-4 appearance-none text-dark-3;
    border-radius: 10px;
    border: 3px solid #ebf2ff;
    box-sizing: border-box;
    &:focus {
        @apply outline-none;
    }
}

blockquote {
    @apply text-center text-primary bg-primary;
    border-radius: 10px;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 20px 40px;
    p {
        @apply mb-0 text-white;
    }
}

/*content page*/
.content__page {
    iframe {
        border-radius: 10px;
        height: 450px;
        margin-bottom: 2rem;
        width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply mt-8 text-dark-1;
    }
}

/*--------------------------------------------------------------
## figure
--------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    figure.alignleft,
    img.alignleft,
    figure.alignright,
    img.alignright {
        float: none;
        display: block;
        margin: 20px auto;
    }
}

.icon-social {
    .icons {
        @apply flex gap-x-4 mt-4;
        .icon-link {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.cta {
    @apply bg-bg-1 text-center relative overflow-hidden;

    &:before {
        @apply absolute opacity-50 lg:opacity-100;
        left: 0;
        bottom: 0;
        content: url("data:image/svg+xml, %3Csvg width='417' height='493' viewBox='0 0 417 493' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2' clip-path='url(%23clip0_111_1069)'%3E%3Cpath d='M216.414 175.944L292.15 37.948C293.982 34.611 294.404 30.76 293.339 27.106C292.275 23.451 289.851 20.43 286.514 18.599L255.833 1.76C253.735 0.608 251.366 0 248.985 0C243.778 0 238.988 2.834 236.485 7.396L160.748 145.393C160.682 145.514 160.622 145.636 160.568 145.762C160.542 145.822 157.694 151.776 147.167 151.776C141.687 151.776 135.132 150.185 127.684 147.049C123.974 145.486 120.326 144.694 116.841 144.694C102.169 144.694 95.401 158.163 94.509 160.086C88.246 171.585 86.814 184.834 90.477 197.412C94.156 210.042 102.534 220.484 114.066 226.813C117.599 228.752 121.635 229.694 126.406 229.694C129.539 229.694 132.619 229.308 135.598 228.934C138.369 228.587 140.986 228.259 143.446 228.259C146.417 228.259 148.7 228.753 150.632 229.814C154.73 232.063 156.915 236.677 159.445 242.021C162.354 248.163 165.65 255.124 172.801 259.049C180.05 263.027 188.225 265.13 196.443 265.13C214.377 265.13 230.882 255.399 239.562 239.723C244.378 232.427 249.024 215.961 232.731 204.702C208.911 188.242 215.902 176.755 216.167 176.341C216.256 176.213 216.339 176.081 216.414 175.944ZM206.884 185.119C208.517 194.246 215.587 203.188 227.899 211.695C241.235 220.909 233.335 233.726 232.402 235.141C232.329 235.248 232.263 235.357 232.201 235.47C225.037 248.521 211.336 256.629 196.443 256.629C189.65 256.629 182.889 254.889 176.891 251.597C172.154 248.997 169.712 243.842 167.128 238.383C164.23 232.263 161.234 225.936 154.722 222.362C151.531 220.61 147.843 219.759 143.446 219.759C140.456 219.759 137.449 220.135 134.542 220.5C131.696 220.857 129.009 221.194 126.406 221.194C123.055 221.194 120.434 220.612 118.156 219.361C108.614 214.124 101.682 205.484 98.638 195.034C98.189 193.492 97.844 191.937 97.579 190.377L108.474 196.187C109.111 196.527 109.795 196.688 110.47 196.688C111.99 196.688 113.459 195.871 114.224 194.437C115.328 192.366 114.545 189.792 112.474 188.687L97.474 180.687C97.359 180.626 97.237 180.591 97.119 180.542C97.375 177.155 98.0611 173.809 99.1671 170.566L142.438 194.169C143.084 194.521 143.782 194.689 144.469 194.689C145.974 194.689 147.432 193.888 148.204 192.473C149.328 190.412 148.569 187.831 146.508 186.707L102.661 162.791C104.04 160.261 108.626 153.193 116.84 153.193C119.185 153.193 121.724 153.761 124.384 154.882C132.882 158.461 140.547 160.276 147.166 160.276C162.159 160.276 167.383 151.148 168.25 149.389L175.806 135.621L198.571 147.003C199.181 147.308 199.83 147.453 200.468 147.453C202.027 147.453 203.528 146.592 204.272 145.103C205.322 143.003 204.471 140.451 202.372 139.401L179.898 128.164L243.934 11.486C244.945 9.644 246.879 8.5 248.983 8.5C249.953 8.5 250.881 8.739 251.741 9.212L282.423 26.051C283.77 26.791 284.749 28.009 285.177 29.484C285.607 30.958 285.436 32.511 284.697 33.858L281.152 40.316L256.371 28.636C254.271 27.586 251.719 28.437 250.669 30.537C249.619 32.636 250.47 35.189 252.569 36.239L277.037 47.814L209.038 171.711C208.261 172.938 205.577 177.814 206.884 185.119Z' fill='%232A9D8F'/%3E%3Cpath d='M180.712 272.224C172.555 272.224 166.316 276.741 160.812 280.725C156.023 284.192 151.887 287.186 147.212 287.186C142.537 287.186 138.401 284.192 133.612 280.725C128.108 276.74 121.869 272.224 113.712 272.224C86.6311 272.224 64.5861 294.217 64.4841 321.288C63.7721 330.001 67.6201 346.671 87.3201 348.702C116.123 351.671 115.519 365.105 115.487 365.595C115.47 365.75 115.461 365.906 115.461 366.062V477.755C115.461 485.612 121.854 492.005 129.711 492.005H164.711C172.568 492.005 178.961 485.612 178.961 477.755V366.061C178.961 365.924 178.954 365.788 178.941 365.651C178.927 365.513 178.401 351.682 207.149 348.701C226.845 346.659 230.679 329.994 229.96 321.284C229.86 294.215 207.805 272.224 180.712 272.224ZM206.273 340.247C170.634 343.943 170.327 363.46 170.462 366.185V477.755C170.462 480.926 167.882 483.505 164.712 483.505H129.712C126.542 483.505 123.962 480.926 123.962 477.755V453.688H149.473C151.82 453.688 153.723 451.785 153.723 449.438C153.723 447.091 151.82 445.188 149.473 445.188H123.962V430.688H132.473C134.82 430.688 136.723 428.785 136.723 426.438C136.723 424.091 134.82 422.188 132.473 422.188H123.962V366.226C124.056 364.775 124.062 359.209 119.402 353.434C113.579 346.218 103.078 341.782 88.1911 340.247C72.0681 338.585 72.8281 323.55 72.9651 321.86C72.9771 321.732 72.9831 321.603 72.9831 321.475C72.9831 299.005 91.2531 280.725 113.712 280.725C119.115 280.725 123.735 284.07 128.627 287.612C134.112 291.583 139.783 295.688 147.212 295.688C154.641 295.688 160.312 291.583 165.797 287.612C170.689 284.07 175.309 280.725 180.712 280.725C199.629 280.725 215.574 293.683 220.144 311.188H175.473C173.126 311.188 171.223 313.091 171.223 315.438C171.223 317.785 173.126 319.688 175.473 319.688H221.417C221.443 320.281 221.462 320.876 221.462 321.475C221.462 321.605 221.468 321.735 221.48 321.864C221.542 322.543 222.82 338.531 206.273 340.247Z' fill='%232A9D8F'/%3E%3Cpath d='M115.822 267.195C126.27 272.713 134.679 275.395 141.53 275.395C151.25 275.395 157.683 269.776 159.646 259.573C160.904 253.036 159.333 246.511 155.337 241.674C152.142 237.806 145.933 233.195 134.493 233.195C129.684 233.195 124.345 234.033 118.625 235.688C118.52 235.718 118.416 235.753 118.314 235.791C118.273 235.807 114.074 237.319 108.147 237.319C98.0421 237.319 84.0341 232.933 74.6851 212.035C72.3981 206.922 69.381 204.329 65.719 204.329C63.446 204.329 56.5271 204.329 50.4371 227.26C47.3141 239.017 41.1511 274.148 53.3641 281.127C54.0211 281.502 54.7471 281.686 55.4681 281.686C56.5601 281.686 57.6401 281.267 58.4571 280.462C58.6371 280.285 76.6931 262.756 98.0661 262.756C104.271 262.757 110.245 264.25 115.822 267.195ZM56.0641 271.238C55.1451 268.693 54.3041 263.983 54.6081 255.93C55.3431 236.42 61.7011 216.476 65.5741 213.127C65.8871 213.519 66.361 214.238 66.928 215.505C78.727 241.88 97.8191 245.818 108.149 245.818C115.004 245.818 120.07 244.181 121.111 243.818C126.016 242.409 130.518 241.695 134.495 241.695C140.93 241.695 145.872 243.559 148.785 247.087C151.161 249.963 152.078 253.929 151.301 257.968C150.097 264.226 147.176 266.896 141.532 266.896C136.174 266.895 128.859 264.468 119.792 259.68C112.978 256.081 105.669 254.258 98.0681 254.258C79.0271 254.257 62.9571 265.545 56.0641 271.238Z' fill='%232A9D8F'/%3E%3Cpath d='M234.652 54.278L253.652 63.278C254.24 63.556 254.859 63.688 255.468 63.688C257.06 63.688 258.585 62.79 259.312 61.256C260.317 59.134 259.412 56.601 257.291 55.596L238.291 46.596C236.171 45.592 233.636 46.496 232.631 48.618C231.627 50.74 232.532 53.274 234.652 54.278Z' fill='%232A9D8F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_111_1069'%3E%3Crect width='492.004' height='492.004' fill='white' transform='translate(-76)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 250px;
        height: 400px;
    }

    p {
        @apply lg:max-w-[900px] mx-auto;
        &:last-child {
            @apply mb-0;
        }
    }

    .title {
        @apply text-text title--5 lg:title--2;
    }
}

.cta__dark {
    @apply bg-alternate-1 text-center relative overflow-hidden;

    &:before {
        @apply absolute opacity-50 lg:opacity-100;
        left: 0;
        bottom: 0;
        content: url("data:image/svg+xml, %3Csvg width='417' height='493' viewBox='0 0 417 493' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2' clip-path='url(%23clip0_111_1069)'%3E%3Cpath d='M216.414 175.944L292.15 37.948C293.982 34.611 294.404 30.76 293.339 27.106C292.275 23.451 289.851 20.43 286.514 18.599L255.833 1.76C253.735 0.608 251.366 0 248.985 0C243.778 0 238.988 2.834 236.485 7.396L160.748 145.393C160.682 145.514 160.622 145.636 160.568 145.762C160.542 145.822 157.694 151.776 147.167 151.776C141.687 151.776 135.132 150.185 127.684 147.049C123.974 145.486 120.326 144.694 116.841 144.694C102.169 144.694 95.401 158.163 94.509 160.086C88.246 171.585 86.814 184.834 90.477 197.412C94.156 210.042 102.534 220.484 114.066 226.813C117.599 228.752 121.635 229.694 126.406 229.694C129.539 229.694 132.619 229.308 135.598 228.934C138.369 228.587 140.986 228.259 143.446 228.259C146.417 228.259 148.7 228.753 150.632 229.814C154.73 232.063 156.915 236.677 159.445 242.021C162.354 248.163 165.65 255.124 172.801 259.049C180.05 263.027 188.225 265.13 196.443 265.13C214.377 265.13 230.882 255.399 239.562 239.723C244.378 232.427 249.024 215.961 232.731 204.702C208.911 188.242 215.902 176.755 216.167 176.341C216.256 176.213 216.339 176.081 216.414 175.944ZM206.884 185.119C208.517 194.246 215.587 203.188 227.899 211.695C241.235 220.909 233.335 233.726 232.402 235.141C232.329 235.248 232.263 235.357 232.201 235.47C225.037 248.521 211.336 256.629 196.443 256.629C189.65 256.629 182.889 254.889 176.891 251.597C172.154 248.997 169.712 243.842 167.128 238.383C164.23 232.263 161.234 225.936 154.722 222.362C151.531 220.61 147.843 219.759 143.446 219.759C140.456 219.759 137.449 220.135 134.542 220.5C131.696 220.857 129.009 221.194 126.406 221.194C123.055 221.194 120.434 220.612 118.156 219.361C108.614 214.124 101.682 205.484 98.638 195.034C98.189 193.492 97.844 191.937 97.579 190.377L108.474 196.187C109.111 196.527 109.795 196.688 110.47 196.688C111.99 196.688 113.459 195.871 114.224 194.437C115.328 192.366 114.545 189.792 112.474 188.687L97.474 180.687C97.359 180.626 97.237 180.591 97.119 180.542C97.375 177.155 98.0611 173.809 99.1671 170.566L142.438 194.169C143.084 194.521 143.782 194.689 144.469 194.689C145.974 194.689 147.432 193.888 148.204 192.473C149.328 190.412 148.569 187.831 146.508 186.707L102.661 162.791C104.04 160.261 108.626 153.193 116.84 153.193C119.185 153.193 121.724 153.761 124.384 154.882C132.882 158.461 140.547 160.276 147.166 160.276C162.159 160.276 167.383 151.148 168.25 149.389L175.806 135.621L198.571 147.003C199.181 147.308 199.83 147.453 200.468 147.453C202.027 147.453 203.528 146.592 204.272 145.103C205.322 143.003 204.471 140.451 202.372 139.401L179.898 128.164L243.934 11.486C244.945 9.644 246.879 8.5 248.983 8.5C249.953 8.5 250.881 8.739 251.741 9.212L282.423 26.051C283.77 26.791 284.749 28.009 285.177 29.484C285.607 30.958 285.436 32.511 284.697 33.858L281.152 40.316L256.371 28.636C254.271 27.586 251.719 28.437 250.669 30.537C249.619 32.636 250.47 35.189 252.569 36.239L277.037 47.814L209.038 171.711C208.261 172.938 205.577 177.814 206.884 185.119Z' fill='%232A9D8F'/%3E%3Cpath d='M180.712 272.224C172.555 272.224 166.316 276.741 160.812 280.725C156.023 284.192 151.887 287.186 147.212 287.186C142.537 287.186 138.401 284.192 133.612 280.725C128.108 276.74 121.869 272.224 113.712 272.224C86.6311 272.224 64.5861 294.217 64.4841 321.288C63.7721 330.001 67.6201 346.671 87.3201 348.702C116.123 351.671 115.519 365.105 115.487 365.595C115.47 365.75 115.461 365.906 115.461 366.062V477.755C115.461 485.612 121.854 492.005 129.711 492.005H164.711C172.568 492.005 178.961 485.612 178.961 477.755V366.061C178.961 365.924 178.954 365.788 178.941 365.651C178.927 365.513 178.401 351.682 207.149 348.701C226.845 346.659 230.679 329.994 229.96 321.284C229.86 294.215 207.805 272.224 180.712 272.224ZM206.273 340.247C170.634 343.943 170.327 363.46 170.462 366.185V477.755C170.462 480.926 167.882 483.505 164.712 483.505H129.712C126.542 483.505 123.962 480.926 123.962 477.755V453.688H149.473C151.82 453.688 153.723 451.785 153.723 449.438C153.723 447.091 151.82 445.188 149.473 445.188H123.962V430.688H132.473C134.82 430.688 136.723 428.785 136.723 426.438C136.723 424.091 134.82 422.188 132.473 422.188H123.962V366.226C124.056 364.775 124.062 359.209 119.402 353.434C113.579 346.218 103.078 341.782 88.1911 340.247C72.0681 338.585 72.8281 323.55 72.9651 321.86C72.9771 321.732 72.9831 321.603 72.9831 321.475C72.9831 299.005 91.2531 280.725 113.712 280.725C119.115 280.725 123.735 284.07 128.627 287.612C134.112 291.583 139.783 295.688 147.212 295.688C154.641 295.688 160.312 291.583 165.797 287.612C170.689 284.07 175.309 280.725 180.712 280.725C199.629 280.725 215.574 293.683 220.144 311.188H175.473C173.126 311.188 171.223 313.091 171.223 315.438C171.223 317.785 173.126 319.688 175.473 319.688H221.417C221.443 320.281 221.462 320.876 221.462 321.475C221.462 321.605 221.468 321.735 221.48 321.864C221.542 322.543 222.82 338.531 206.273 340.247Z' fill='%232A9D8F'/%3E%3Cpath d='M115.822 267.195C126.27 272.713 134.679 275.395 141.53 275.395C151.25 275.395 157.683 269.776 159.646 259.573C160.904 253.036 159.333 246.511 155.337 241.674C152.142 237.806 145.933 233.195 134.493 233.195C129.684 233.195 124.345 234.033 118.625 235.688C118.52 235.718 118.416 235.753 118.314 235.791C118.273 235.807 114.074 237.319 108.147 237.319C98.0421 237.319 84.0341 232.933 74.6851 212.035C72.3981 206.922 69.381 204.329 65.719 204.329C63.446 204.329 56.5271 204.329 50.4371 227.26C47.3141 239.017 41.1511 274.148 53.3641 281.127C54.0211 281.502 54.7471 281.686 55.4681 281.686C56.5601 281.686 57.6401 281.267 58.4571 280.462C58.6371 280.285 76.6931 262.756 98.0661 262.756C104.271 262.757 110.245 264.25 115.822 267.195ZM56.0641 271.238C55.1451 268.693 54.3041 263.983 54.6081 255.93C55.3431 236.42 61.7011 216.476 65.5741 213.127C65.8871 213.519 66.361 214.238 66.928 215.505C78.727 241.88 97.8191 245.818 108.149 245.818C115.004 245.818 120.07 244.181 121.111 243.818C126.016 242.409 130.518 241.695 134.495 241.695C140.93 241.695 145.872 243.559 148.785 247.087C151.161 249.963 152.078 253.929 151.301 257.968C150.097 264.226 147.176 266.896 141.532 266.896C136.174 266.895 128.859 264.468 119.792 259.68C112.978 256.081 105.669 254.258 98.0681 254.258C79.0271 254.257 62.9571 265.545 56.0641 271.238Z' fill='%232A9D8F'/%3E%3Cpath d='M234.652 54.278L253.652 63.278C254.24 63.556 254.859 63.688 255.468 63.688C257.06 63.688 258.585 62.79 259.312 61.256C260.317 59.134 259.412 56.601 257.291 55.596L238.291 46.596C236.171 45.592 233.636 46.496 232.631 48.618C231.627 50.74 232.532 53.274 234.652 54.278Z' fill='%232A9D8F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_111_1069'%3E%3Crect width='492.004' height='492.004' fill='white' transform='translate(-76)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 250px;
        height: 400px;
    }

    p {
        @apply lg:max-w-[900px] mx-auto text-white;
        &:last-child {
            @apply mb-0;
        }
    }

    .title {
        @apply text-white title--5 lg:title--2;
    }
}

.blog__home {
    .title__blog {
        span {
            @apply text-[18px] font-bold !important;
        }

        .title {
            @apply title--5 lg:title--3;
        }

        a {
            @apply text-text font-semibold;

            &:visited {
                @apply text-text;
            }
        }
    }
}

.container__blog {
    @apply text-text;
    width: 100%;
    gap: 24px;

    @screen md {
        height: 600px;
        grid-template-areas:
            "a b"
            "a c";

        grid-template-columns: repeat(2, 1fr);
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .title {
        @apply title--6 text-text;
    }
    p {
        @apply text-text;
    }
}

.item__home__blog1 {
    grid-area: a;

    position: relative;
    display: flex;
    flex-direction: column;
    @screen lg {
        height: 620px;

        img {
            height: 390px;
        }
    }

    p {
        @apply hidden md:flex;
    }
}
.item__home__blog2 {
    grid-area: b;

    position: relative;
    display: flex;
    flex-direction: column;

    @screen lg {
        height: 290px;

        img {
            height: 212px;
        }
    }
}
.item__home__blog3 {
    grid-area: c;

    position: relative;
    display: flex;
    flex-direction: column;

    @screen lg {
        height: 290px;

        img {
            height: 212px;
        }
    }
}

.content__page__title {
    @apply pt-4 pb-8 text-center md:flex md:justify-between md:items-center relative lg:pt-10 lg:pb-12;

    .title {
        @apply text-white md:mb-0 title--4 md:title--3 lg:title--2;
        text-transform: capitalize !important;
    }
}

.site-header--inside {
    @apply overflow-hidden relative;
    &:before {
        content: url("data:image/svg+xml,%3Csvg width='1440' height='230' viewBox='0 0 1440 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 13.8867L48 37.8993C96 61.9119 192 109.937 288 97.9307C384 85.9245 480 13.8867 576 1.88037C672 -10.1259 768 37.8993 864 73.9182C960 109.937 1056 133.95 1152 151.959C1248 169.969 1344 181.975 1392 187.978L1440 193.981V230H1392C1344 230 1248 230 1152 230C1056 230 960 230 864 230C768 230 672 230 576 230C480 230 384 230 288 230C192 230 96 230 48 230H0V13.8867Z' fill='%23249284'/%3E%3C/svg%3E%0A");
        left: 0;
        top: 20%;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.info-post {
    .title {
        @apply title--6 text-text mb-2 mt-0;
        a {
            @apply text-text;
        }
    }

    span {
        @apply text-text mb-0 inline-flex;
    }

    a {
        @apply font-semibold inline-flex mt-4 mb-0;

        &:visited {
            @apply text-primary;
        }
    }
}

.single__post {
    @apply relative;

    &:before {
        @apply absolute hidden md:block;
        width: 332px;
        height: 332px;
        top: -10%;
        content: url("data:image/svg+xml, %3Csvg width='332' height='332' viewBox='0 0 332 332' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.15' clip-path='url(%23clip0_50_1386)'%3E%3Cpath d='M310.827 288.602C312.787 288.211 314.302 287.508 314.664 286.473C315.068 285.317 314.667 284.033 313.695 283.289C313.307 282.993 309.483 280.108 302.887 276.298C305.701 276.587 308.264 276.712 310.587 276.712C321.613 276.712 327.296 274.124 329.415 272.926C330.703 272.199 331.489 271.681 331.851 270.605C332.242 269.444 331.847 268.161 330.87 267.42C330.32 267.002 322.903 261.453 310.482 255.406C310.482 255.406 312.946 255.26 313.758 255.141C315.025 254.955 316.067 254.363 316.46 253.207C316.855 252.05 316.47 250.771 315.502 250.025C314.929 249.583 306.772 243.38 293.082 236.931L299.772 234.829C300.857 234.488 301.637 233.536 301.756 232.404C301.876 231.273 301.312 230.179 300.322 229.619C272.37 213.82 249.538 212.008 211.709 209.006C206.867 208.621 201.767 208.217 196.365 207.761C152.703 204.071 124.524 187.117 121.184 185.018C119.576 174.474 117.561 154.478 115.537 116.626C113.579 79.9907 112.575 44.2595 112.565 43.9028C112.522 42.3266 111.212 41.0911 109.632 41.1281C108.055 41.1717 106.813 42.4852 106.857 44.062C106.867 44.4194 107.872 80.2137 109.834 116.921C112.392 164.765 114.924 184.364 116.807 192.834C106.266 187.615 95.0156 183.943 90.4296 182.539C88.3422 169.662 75.6142 89.1801 76.2142 46.0049C76.2363 44.4281 74.976 43.1322 73.3991 43.11C73.3857 43.11 73.3723 43.11 73.3582 43.11C71.8002 43.11 70.5257 44.3623 70.5042 45.9257C69.8471 93.2226 84.9313 184.318 85.0831 185.232C85.0831 185.232 85.4869 187.266 85.1926 188.589C84.5376 191.535 78.6704 198.22 49.6274 204.443C41.8173 206.117 34.5795 208.712 28.1776 211.995C27.63 211.759 26.6901 211.223 26.4187 210.246C26.158 209.308 25.9618 205.607 34.3766 197.379C53.9393 178.252 53.1976 162.313 53.076 160.781L47.792 45.8343C47.7194 44.2588 46.3777 43.0381 44.8083 43.1133C43.2328 43.1859 42.0148 44.5215 42.0874 46.097L47.3747 161.101C47.3761 161.138 47.3808 161.197 47.3841 161.234C47.3969 161.376 48.3933 175.69 30.3859 193.297C22.6597 200.851 19.5626 206.895 20.9177 211.775C21.2899 213.114 21.9725 214.193 22.778 215.052C9.8061 223.136 1.28851 234.251 0.130256 245.972C-1.07838 258.197 6.16876 268.642 20.0127 274.629C24.8573 276.723 30.6157 277.785 37.1292 277.785C54.4197 277.785 75.6592 269.99 87.8236 260.641C93.5617 263.923 114.997 275.038 135.403 270.839C152.176 267.384 184.366 266.638 242.462 282.691C265.586 289.081 282.034 291.126 293.15 290.848C297.838 290.73 307.271 289.313 310.827 288.602ZM299.866 250.691C292.637 247.783 284.336 245.046 275.178 242.998C275.278 241.767 276.286 239.109 277.827 236.779C290.048 241.275 299.592 246.53 305.454 250.154L299.866 250.691ZM272.559 262.787C273.495 259.433 274.746 253.55 273.804 248.538C279.019 249.704 283.958 251.115 288.576 252.658C287.524 256.458 286.17 262.754 287.464 267.62C287.464 267.62 279.304 265.468 272.559 262.787ZM142.262 246.716L122.068 231.516C126.248 229.217 130.215 226.84 133.19 224.319C134.529 223.185 135.636 222.041 136.516 220.886L153.253 233.671C146.847 238.933 143.47 243.971 142.262 246.716ZM125.025 266.036C111.306 265.764 98.1135 259.654 92.388 256.618C94.8369 254.087 96.538 251.509 97.2555 248.998C98.6745 244.031 108.108 238.965 116.555 234.478L136.121 249.553C129.025 255.679 126.086 262.72 125.025 266.036ZM267.31 240.235C264.772 239.335 261.263 238.515 257.059 237.77C257.849 235.893 258.541 233.497 258.419 231.079C263.267 232.146 267.87 233.426 272.195 234.829C270.996 236.699 269.807 239.046 269.482 241.345C268.817 240.892 268.095 240.514 267.31 240.235ZM252.551 230.362C253.184 232.261 252.103 235.06 251.188 236.837C224.894 233.068 180.88 231.474 164.402 230.989C165.301 223.939 168.639 221.391 169.474 220.857C198.433 221.824 237.878 223.902 250.015 228.209C251.864 228.865 252.348 229.751 252.551 230.362ZM162.038 220.625C160.565 222.929 159.217 226.176 158.697 230.643L145.042 220.212C149.43 220.298 155.293 220.429 162.038 220.625ZM158.853 236.551C168.378 236.794 246.694 238.98 265.4 245.617C269.876 247.206 268.38 256.227 267.082 261.104C262.617 259.819 257.904 258.673 252.958 257.747C252.134 257.035 251.187 256.475 250.125 256.098C232.968 250.011 171.569 247.599 149.067 246.907C150.604 244.299 153.526 240.466 158.853 236.551ZM256.327 264.258C261.731 265.451 266.84 266.908 271.602 268.508C270.833 272.198 269.898 278.46 271.077 283.21C266.113 282.415 260.602 281.332 254.515 279.891C255.661 276.145 257.235 269.612 256.327 264.258ZM211.257 214.7C246.704 217.513 267.416 219.156 291.589 231.414L285.129 233.443C276.58 229.966 266.486 226.716 255.17 224.59C254.328 223.916 253.268 223.304 251.924 222.827C238.713 218.139 197.016 216.005 167.574 215.064C167.906 213.115 169.855 211.034 171.215 209.859C178.752 211.432 186.994 212.701 195.885 213.452C201.297 213.909 206.407 214.314 211.257 214.7ZM122.576 192.461C129.66 196.371 144.175 203.384 164.717 208.389C163.248 210.253 162.061 212.498 161.846 214.891C151.3 214.591 142.94 214.449 139.031 214.394C139.063 212.943 138.754 211.484 138.089 210.019C135.896 205.195 130.601 200.754 124.245 196.894C124.244 196.894 122.944 196.184 122.576 192.461ZM22.2795 269.387C10.6996 264.379 4.85195 256.263 5.81335 246.534C7.12008 233.317 21.7635 216.255 50.826 210.027C74.1536 205.028 87.5683 198.52 90.697 190.682C90.9624 190.018 91.1391 189.384 91.2473 188.787C104.247 193.016 128.45 202.615 132.889 212.383C135.253 217.582 126.641 222.655 114.217 229.253C107.782 232.672 101.568 235.975 97.2461 239.725H72.339C70.7622 239.725 69.4837 241.003 69.4837 242.58C69.4837 244.157 70.7622 245.435 72.339 245.435H92.5452C92.2228 246.083 91.9601 246.747 91.7653 247.43C91.3816 248.772 90.4283 250.26 89.0235 251.818H45.1308C43.554 251.818 42.2755 253.096 42.2755 254.673C42.2755 256.251 43.554 257.529 45.1308 257.529H82.2506C71.4609 264.945 53.4092 272.075 37.1292 272.075C31.3997 272.075 26.4032 271.171 22.2795 269.387ZM134.252 265.245C133.245 265.453 132.233 265.604 131.218 265.729C132.634 262.323 135.656 256.917 141.676 252.414C151.237 252.658 229.513 254.844 248.215 261.48C249.099 261.793 249.714 262.38 250.152 263.325C251.746 266.766 250.459 273.698 248.961 278.513C247.336 278.094 245.684 277.657 243.982 277.186C197.131 264.241 159.187 260.112 134.252 265.245ZM277.751 284.256C275.973 283.889 275.772 277.093 277.039 270.445C289.714 275.231 299.439 280.769 304.993 284.284C300.179 285.117 290.669 286.924 277.751 284.256ZM294.611 269.27C291.887 268.368 292.684 260.547 294.05 254.601C307.706 259.732 317.976 265.731 323.31 269.168C319.113 270.407 308.028 273.71 294.611 269.27Z' fill='%232A9D8F'/%3E%3Cpath d='M100.552 147.689C100.65 147.689 100.749 147.683 100.849 147.673C102.417 147.511 103.557 146.108 103.396 144.539C100.411 115.695 95.3919 45.5716 95.3415 44.8668C95.2293 43.2941 93.8641 42.1096 92.29 42.2218C90.7172 42.334 89.5328 43.7005 89.6456 45.2733C89.696 45.9794 94.7221 116.193 97.7151 145.127C97.8669 146.596 99.1072 147.689 100.552 147.689Z' fill='%232A9D8F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_50_1386'%3E%3Crect width='332' height='332' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    p {
        @apply text-text;
    }
}

.schedulePage {
    .title__section {
        @apply lg:pb-6;
    }
}

.disclaimer {
    p {
        @apply text-secondary;

        a {
            @apply text-secondary font-bold;

            &:visited {
                @apply text-secondary;
            }
        }
    }
}

.menuModal {
    .iziModal-content {
        @apply bg-primary;

        .modal__header button svg path {
            stroke: #fff !important;
        }

        .modal__content {
            @apply px-7 !important;
            ul {
                @apply ml-0 mt-5;

                li {
                    list-style: none;
                    a {
                        @apply text-white font-semibold;
                    }
                }
            }
        }
    }
}

.item__conditions {
    @apply cursor-pointer rounded-lg transition-all duration-500 ease-in-out flex items-center;
    &__title {
        @apply flex flex-col p-4;

        svg,
        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        span {
            @apply title--body text-text font-bold;
            text-transform: capitalize !important;
            font-weight: bold !important;
        }
    }

    &:hover {
        @apply bg-dark-3;

        span {
            @apply text-white;
        }

        svg {
            path {
                fill: #fff;
            }
        }
    }
}
