::selection {
    @apply text-white bg-primary;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: royalblue;
}

a:visited {
    color: purple;
}

a:hover,
a:focus,
a:active {
    color: midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @apply font-normal text-text font-inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: rem(16px);
    line-height: 26px;
    hyphens: none;
    word-break: keep-all;
    word-wrap: normal;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @apply mb-4 font-bold text-dark-1;
        hyphens: none;
        letter-spacing: -0.02em;
        word-break: keep-all;
        word-wrap: normal;
        a {
            @apply text-light-3;

            &:hover {
                @apply text-primary;
            }
        }
    }
    h1,
    .h1 {
        font-size: 4rem;
        line-height: 2.4rem;
        @screen sm {
            font-size: 3rem;
            line-height: 3.6rem;
        }
    }
    h2,
    .h2 {
        font-size: 2.25rem;
        line-height: 2.9375rem;
    }
    h3,
    .h3 {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }
    h4,
    .h4 {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    h5,
    .h5 {
        font-size: 1rem;
        line-height: 1.4375rem;
    }
    h6,
    .h6 {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }

    ul {
        li {
            @apply mb-4;
        }
    }

    .info {
        ul {
            li {
                @apply relative mb-4;
                padding-left: 12px;
                &:before {
                    @apply absolute left-0;
                    background-image: url("../img/list.png");
                    background-repeat: no-repeat;
                    background-size: 50% 50%;
                    content: "";
                    height: 8px;
                    top: 11px;
                    width: 8px;
                }
                li {
                    &:first-child {
                        margin-top: 20px;
                    }
                }
            }
        }
        a {
            @apply underline;
        }
    }
}

p {
    @apply mb-4 text-dark-3;
    hyphens: none;
    word-break: keep-all;
    word-wrap: normal;
}

a {
    @apply text-primary;
    @mixin fade;
    &:hover {
        @apply text-secondary;
    }
}

input[type="text"],
select,
textarea {
    @apply font-normal text-light-1;
    border-radius: 9px;
    border: 1px solid theme(colors.primary.lighter);
    box-sizing: border-box;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
select {
    @apply appearance-none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("../img/arrow-select.svg") #fff no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../img/arrow-select.svg") #fff no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand {
    @apply hidden;
}

iframe {
    @apply w-full;
}

/* Content Editor */

.info {
    a {
        @apply font-bold underline;
        &.btn {
            @apply no-underline;
            font-weight: inherit;
        }
    }
}

/* Base Image WordPress */

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
a img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],
select {
    @apply w-full py-4 appearance-none text-dark-3;
    border-radius: 10px;
    border: 3px solid #ebf2ff;
    box-sizing: border-box;
    &:focus {
        @apply outline-none;
    }
}

blockquote {
    @apply text-center text-primary bg-primary;
    border-radius: 10px;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 20px 40px;
    p {
        @apply mb-0 text-white;
    }
}

/*content page*/
.content__page {
    iframe {
        border-radius: 10px;
        height: 450px;
        margin-bottom: 2rem;
        width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply mt-8 text-dark-1;
    }
}

/*--------------------------------------------------------------
## figure
--------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    figure.alignleft,
    img.alignleft,
    figure.alignright,
    img.alignright {
        float: none;
        display: block;
        margin: 20px auto;
    }
}

.icon-social {
    .icons {
        @apply flex gap-x-4 mt-4;
        .icon-link {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.cta {
    @apply bg-bg-1 text-center relative overflow-hidden;

    &:before {
        @apply absolute opacity-50 lg:opacity-100;
        left: 0;
        bottom: 0;
        content: url("data:image/svg+xml, %3Csvg width='417' height='493' viewBox='0 0 417 493' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2' clip-path='url(%23clip0_111_1069)'%3E%3Cpath d='M216.414 175.944L292.15 37.948C293.982 34.611 294.404 30.76 293.339 27.106C292.275 23.451 289.851 20.43 286.514 18.599L255.833 1.76C253.735 0.608 251.366 0 248.985 0C243.778 0 238.988 2.834 236.485 7.396L160.748 145.393C160.682 145.514 160.622 145.636 160.568 145.762C160.542 145.822 157.694 151.776 147.167 151.776C141.687 151.776 135.132 150.185 127.684 147.049C123.974 145.486 120.326 144.694 116.841 144.694C102.169 144.694 95.401 158.163 94.509 160.086C88.246 171.585 86.814 184.834 90.477 197.412C94.156 210.042 102.534 220.484 114.066 226.813C117.599 228.752 121.635 229.694 126.406 229.694C129.539 229.694 132.619 229.308 135.598 228.934C138.369 228.587 140.986 228.259 143.446 228.259C146.417 228.259 148.7 228.753 150.632 229.814C154.73 232.063 156.915 236.677 159.445 242.021C162.354 248.163 165.65 255.124 172.801 259.049C180.05 263.027 188.225 265.13 196.443 265.13C214.377 265.13 230.882 255.399 239.562 239.723C244.378 232.427 249.024 215.961 232.731 204.702C208.911 188.242 215.902 176.755 216.167 176.341C216.256 176.213 216.339 176.081 216.414 175.944ZM206.884 185.119C208.517 194.246 215.587 203.188 227.899 211.695C241.235 220.909 233.335 233.726 232.402 235.141C232.329 235.248 232.263 235.357 232.201 235.47C225.037 248.521 211.336 256.629 196.443 256.629C189.65 256.629 182.889 254.889 176.891 251.597C172.154 248.997 169.712 243.842 167.128 238.383C164.23 232.263 161.234 225.936 154.722 222.362C151.531 220.61 147.843 219.759 143.446 219.759C140.456 219.759 137.449 220.135 134.542 220.5C131.696 220.857 129.009 221.194 126.406 221.194C123.055 221.194 120.434 220.612 118.156 219.361C108.614 214.124 101.682 205.484 98.638 195.034C98.189 193.492 97.844 191.937 97.579 190.377L108.474 196.187C109.111 196.527 109.795 196.688 110.47 196.688C111.99 196.688 113.459 195.871 114.224 194.437C115.328 192.366 114.545 189.792 112.474 188.687L97.474 180.687C97.359 180.626 97.237 180.591 97.119 180.542C97.375 177.155 98.0611 173.809 99.1671 170.566L142.438 194.169C143.084 194.521 143.782 194.689 144.469 194.689C145.974 194.689 147.432 193.888 148.204 192.473C149.328 190.412 148.569 187.831 146.508 186.707L102.661 162.791C104.04 160.261 108.626 153.193 116.84 153.193C119.185 153.193 121.724 153.761 124.384 154.882C132.882 158.461 140.547 160.276 147.166 160.276C162.159 160.276 167.383 151.148 168.25 149.389L175.806 135.621L198.571 147.003C199.181 147.308 199.83 147.453 200.468 147.453C202.027 147.453 203.528 146.592 204.272 145.103C205.322 143.003 204.471 140.451 202.372 139.401L179.898 128.164L243.934 11.486C244.945 9.644 246.879 8.5 248.983 8.5C249.953 8.5 250.881 8.739 251.741 9.212L282.423 26.051C283.77 26.791 284.749 28.009 285.177 29.484C285.607 30.958 285.436 32.511 284.697 33.858L281.152 40.316L256.371 28.636C254.271 27.586 251.719 28.437 250.669 30.537C249.619 32.636 250.47 35.189 252.569 36.239L277.037 47.814L209.038 171.711C208.261 172.938 205.577 177.814 206.884 185.119Z' fill='%232A9D8F'/%3E%3Cpath d='M180.712 272.224C172.555 272.224 166.316 276.741 160.812 280.725C156.023 284.192 151.887 287.186 147.212 287.186C142.537 287.186 138.401 284.192 133.612 280.725C128.108 276.74 121.869 272.224 113.712 272.224C86.6311 272.224 64.5861 294.217 64.4841 321.288C63.7721 330.001 67.6201 346.671 87.3201 348.702C116.123 351.671 115.519 365.105 115.487 365.595C115.47 365.75 115.461 365.906 115.461 366.062V477.755C115.461 485.612 121.854 492.005 129.711 492.005H164.711C172.568 492.005 178.961 485.612 178.961 477.755V366.061C178.961 365.924 178.954 365.788 178.941 365.651C178.927 365.513 178.401 351.682 207.149 348.701C226.845 346.659 230.679 329.994 229.96 321.284C229.86 294.215 207.805 272.224 180.712 272.224ZM206.273 340.247C170.634 343.943 170.327 363.46 170.462 366.185V477.755C170.462 480.926 167.882 483.505 164.712 483.505H129.712C126.542 483.505 123.962 480.926 123.962 477.755V453.688H149.473C151.82 453.688 153.723 451.785 153.723 449.438C153.723 447.091 151.82 445.188 149.473 445.188H123.962V430.688H132.473C134.82 430.688 136.723 428.785 136.723 426.438C136.723 424.091 134.82 422.188 132.473 422.188H123.962V366.226C124.056 364.775 124.062 359.209 119.402 353.434C113.579 346.218 103.078 341.782 88.1911 340.247C72.0681 338.585 72.8281 323.55 72.9651 321.86C72.9771 321.732 72.9831 321.603 72.9831 321.475C72.9831 299.005 91.2531 280.725 113.712 280.725C119.115 280.725 123.735 284.07 128.627 287.612C134.112 291.583 139.783 295.688 147.212 295.688C154.641 295.688 160.312 291.583 165.797 287.612C170.689 284.07 175.309 280.725 180.712 280.725C199.629 280.725 215.574 293.683 220.144 311.188H175.473C173.126 311.188 171.223 313.091 171.223 315.438C171.223 317.785 173.126 319.688 175.473 319.688H221.417C221.443 320.281 221.462 320.876 221.462 321.475C221.462 321.605 221.468 321.735 221.48 321.864C221.542 322.543 222.82 338.531 206.273 340.247Z' fill='%232A9D8F'/%3E%3Cpath d='M115.822 267.195C126.27 272.713 134.679 275.395 141.53 275.395C151.25 275.395 157.683 269.776 159.646 259.573C160.904 253.036 159.333 246.511 155.337 241.674C152.142 237.806 145.933 233.195 134.493 233.195C129.684 233.195 124.345 234.033 118.625 235.688C118.52 235.718 118.416 235.753 118.314 235.791C118.273 235.807 114.074 237.319 108.147 237.319C98.0421 237.319 84.0341 232.933 74.6851 212.035C72.3981 206.922 69.381 204.329 65.719 204.329C63.446 204.329 56.5271 204.329 50.4371 227.26C47.3141 239.017 41.1511 274.148 53.3641 281.127C54.0211 281.502 54.7471 281.686 55.4681 281.686C56.5601 281.686 57.6401 281.267 58.4571 280.462C58.6371 280.285 76.6931 262.756 98.0661 262.756C104.271 262.757 110.245 264.25 115.822 267.195ZM56.0641 271.238C55.1451 268.693 54.3041 263.983 54.6081 255.93C55.3431 236.42 61.7011 216.476 65.5741 213.127C65.8871 213.519 66.361 214.238 66.928 215.505C78.727 241.88 97.8191 245.818 108.149 245.818C115.004 245.818 120.07 244.181 121.111 243.818C126.016 242.409 130.518 241.695 134.495 241.695C140.93 241.695 145.872 243.559 148.785 247.087C151.161 249.963 152.078 253.929 151.301 257.968C150.097 264.226 147.176 266.896 141.532 266.896C136.174 266.895 128.859 264.468 119.792 259.68C112.978 256.081 105.669 254.258 98.0681 254.258C79.0271 254.257 62.9571 265.545 56.0641 271.238Z' fill='%232A9D8F'/%3E%3Cpath d='M234.652 54.278L253.652 63.278C254.24 63.556 254.859 63.688 255.468 63.688C257.06 63.688 258.585 62.79 259.312 61.256C260.317 59.134 259.412 56.601 257.291 55.596L238.291 46.596C236.171 45.592 233.636 46.496 232.631 48.618C231.627 50.74 232.532 53.274 234.652 54.278Z' fill='%232A9D8F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_111_1069'%3E%3Crect width='492.004' height='492.004' fill='white' transform='translate(-76)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 250px;
        height: 400px;
    }

    p {
        @apply lg:max-w-[900px] mx-auto;
        &:last-child {
            @apply mb-0;
        }
    }

    .title {
        @apply text-text title--5 lg:title--2;
    }
}

.cta__dark {
    @apply bg-alternate-1 text-center relative overflow-hidden;

    &:before {
        @apply absolute opacity-50 lg:opacity-100;
        left: 0;
        bottom: 0;
        content: url("data:image/svg+xml, %3Csvg width='417' height='493' viewBox='0 0 417 493' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2' clip-path='url(%23clip0_111_1069)'%3E%3Cpath d='M216.414 175.944L292.15 37.948C293.982 34.611 294.404 30.76 293.339 27.106C292.275 23.451 289.851 20.43 286.514 18.599L255.833 1.76C253.735 0.608 251.366 0 248.985 0C243.778 0 238.988 2.834 236.485 7.396L160.748 145.393C160.682 145.514 160.622 145.636 160.568 145.762C160.542 145.822 157.694 151.776 147.167 151.776C141.687 151.776 135.132 150.185 127.684 147.049C123.974 145.486 120.326 144.694 116.841 144.694C102.169 144.694 95.401 158.163 94.509 160.086C88.246 171.585 86.814 184.834 90.477 197.412C94.156 210.042 102.534 220.484 114.066 226.813C117.599 228.752 121.635 229.694 126.406 229.694C129.539 229.694 132.619 229.308 135.598 228.934C138.369 228.587 140.986 228.259 143.446 228.259C146.417 228.259 148.7 228.753 150.632 229.814C154.73 232.063 156.915 236.677 159.445 242.021C162.354 248.163 165.65 255.124 172.801 259.049C180.05 263.027 188.225 265.13 196.443 265.13C214.377 265.13 230.882 255.399 239.562 239.723C244.378 232.427 249.024 215.961 232.731 204.702C208.911 188.242 215.902 176.755 216.167 176.341C216.256 176.213 216.339 176.081 216.414 175.944ZM206.884 185.119C208.517 194.246 215.587 203.188 227.899 211.695C241.235 220.909 233.335 233.726 232.402 235.141C232.329 235.248 232.263 235.357 232.201 235.47C225.037 248.521 211.336 256.629 196.443 256.629C189.65 256.629 182.889 254.889 176.891 251.597C172.154 248.997 169.712 243.842 167.128 238.383C164.23 232.263 161.234 225.936 154.722 222.362C151.531 220.61 147.843 219.759 143.446 219.759C140.456 219.759 137.449 220.135 134.542 220.5C131.696 220.857 129.009 221.194 126.406 221.194C123.055 221.194 120.434 220.612 118.156 219.361C108.614 214.124 101.682 205.484 98.638 195.034C98.189 193.492 97.844 191.937 97.579 190.377L108.474 196.187C109.111 196.527 109.795 196.688 110.47 196.688C111.99 196.688 113.459 195.871 114.224 194.437C115.328 192.366 114.545 189.792 112.474 188.687L97.474 180.687C97.359 180.626 97.237 180.591 97.119 180.542C97.375 177.155 98.0611 173.809 99.1671 170.566L142.438 194.169C143.084 194.521 143.782 194.689 144.469 194.689C145.974 194.689 147.432 193.888 148.204 192.473C149.328 190.412 148.569 187.831 146.508 186.707L102.661 162.791C104.04 160.261 108.626 153.193 116.84 153.193C119.185 153.193 121.724 153.761 124.384 154.882C132.882 158.461 140.547 160.276 147.166 160.276C162.159 160.276 167.383 151.148 168.25 149.389L175.806 135.621L198.571 147.003C199.181 147.308 199.83 147.453 200.468 147.453C202.027 147.453 203.528 146.592 204.272 145.103C205.322 143.003 204.471 140.451 202.372 139.401L179.898 128.164L243.934 11.486C244.945 9.644 246.879 8.5 248.983 8.5C249.953 8.5 250.881 8.739 251.741 9.212L282.423 26.051C283.77 26.791 284.749 28.009 285.177 29.484C285.607 30.958 285.436 32.511 284.697 33.858L281.152 40.316L256.371 28.636C254.271 27.586 251.719 28.437 250.669 30.537C249.619 32.636 250.47 35.189 252.569 36.239L277.037 47.814L209.038 171.711C208.261 172.938 205.577 177.814 206.884 185.119Z' fill='%232A9D8F'/%3E%3Cpath d='M180.712 272.224C172.555 272.224 166.316 276.741 160.812 280.725C156.023 284.192 151.887 287.186 147.212 287.186C142.537 287.186 138.401 284.192 133.612 280.725C128.108 276.74 121.869 272.224 113.712 272.224C86.6311 272.224 64.5861 294.217 64.4841 321.288C63.7721 330.001 67.6201 346.671 87.3201 348.702C116.123 351.671 115.519 365.105 115.487 365.595C115.47 365.75 115.461 365.906 115.461 366.062V477.755C115.461 485.612 121.854 492.005 129.711 492.005H164.711C172.568 492.005 178.961 485.612 178.961 477.755V366.061C178.961 365.924 178.954 365.788 178.941 365.651C178.927 365.513 178.401 351.682 207.149 348.701C226.845 346.659 230.679 329.994 229.96 321.284C229.86 294.215 207.805 272.224 180.712 272.224ZM206.273 340.247C170.634 343.943 170.327 363.46 170.462 366.185V477.755C170.462 480.926 167.882 483.505 164.712 483.505H129.712C126.542 483.505 123.962 480.926 123.962 477.755V453.688H149.473C151.82 453.688 153.723 451.785 153.723 449.438C153.723 447.091 151.82 445.188 149.473 445.188H123.962V430.688H132.473C134.82 430.688 136.723 428.785 136.723 426.438C136.723 424.091 134.82 422.188 132.473 422.188H123.962V366.226C124.056 364.775 124.062 359.209 119.402 353.434C113.579 346.218 103.078 341.782 88.1911 340.247C72.0681 338.585 72.8281 323.55 72.9651 321.86C72.9771 321.732 72.9831 321.603 72.9831 321.475C72.9831 299.005 91.2531 280.725 113.712 280.725C119.115 280.725 123.735 284.07 128.627 287.612C134.112 291.583 139.783 295.688 147.212 295.688C154.641 295.688 160.312 291.583 165.797 287.612C170.689 284.07 175.309 280.725 180.712 280.725C199.629 280.725 215.574 293.683 220.144 311.188H175.473C173.126 311.188 171.223 313.091 171.223 315.438C171.223 317.785 173.126 319.688 175.473 319.688H221.417C221.443 320.281 221.462 320.876 221.462 321.475C221.462 321.605 221.468 321.735 221.48 321.864C221.542 322.543 222.82 338.531 206.273 340.247Z' fill='%232A9D8F'/%3E%3Cpath d='M115.822 267.195C126.27 272.713 134.679 275.395 141.53 275.395C151.25 275.395 157.683 269.776 159.646 259.573C160.904 253.036 159.333 246.511 155.337 241.674C152.142 237.806 145.933 233.195 134.493 233.195C129.684 233.195 124.345 234.033 118.625 235.688C118.52 235.718 118.416 235.753 118.314 235.791C118.273 235.807 114.074 237.319 108.147 237.319C98.0421 237.319 84.0341 232.933 74.6851 212.035C72.3981 206.922 69.381 204.329 65.719 204.329C63.446 204.329 56.5271 204.329 50.4371 227.26C47.3141 239.017 41.1511 274.148 53.3641 281.127C54.0211 281.502 54.7471 281.686 55.4681 281.686C56.5601 281.686 57.6401 281.267 58.4571 280.462C58.6371 280.285 76.6931 262.756 98.0661 262.756C104.271 262.757 110.245 264.25 115.822 267.195ZM56.0641 271.238C55.1451 268.693 54.3041 263.983 54.6081 255.93C55.3431 236.42 61.7011 216.476 65.5741 213.127C65.8871 213.519 66.361 214.238 66.928 215.505C78.727 241.88 97.8191 245.818 108.149 245.818C115.004 245.818 120.07 244.181 121.111 243.818C126.016 242.409 130.518 241.695 134.495 241.695C140.93 241.695 145.872 243.559 148.785 247.087C151.161 249.963 152.078 253.929 151.301 257.968C150.097 264.226 147.176 266.896 141.532 266.896C136.174 266.895 128.859 264.468 119.792 259.68C112.978 256.081 105.669 254.258 98.0681 254.258C79.0271 254.257 62.9571 265.545 56.0641 271.238Z' fill='%232A9D8F'/%3E%3Cpath d='M234.652 54.278L253.652 63.278C254.24 63.556 254.859 63.688 255.468 63.688C257.06 63.688 258.585 62.79 259.312 61.256C260.317 59.134 259.412 56.601 257.291 55.596L238.291 46.596C236.171 45.592 233.636 46.496 232.631 48.618C231.627 50.74 232.532 53.274 234.652 54.278Z' fill='%232A9D8F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_111_1069'%3E%3Crect width='492.004' height='492.004' fill='white' transform='translate(-76)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 250px;
        height: 400px;
    }

    p {
        @apply lg:max-w-[900px] mx-auto text-white;
        &:last-child {
            @apply mb-0;
        }
    }

    .title {
        @apply text-white title--5 lg:title--2;
    }
}

.blog__home {
    .title__blog {
        span {
            @apply text-[18px] font-bold !important;
        }

        .title {
            @apply title--5 lg:title--3;
        }

        a {
            @apply text-text font-semibold;

            &:visited {
                @apply text-text;
            }
        }
    }
}

.container__blog {
    @apply text-text;
    width: 100%;
    gap: 24px;

    @screen md {
        height: 600px;
        grid-template-areas:
            "a b"
            "a c";

        grid-template-columns: repeat(2, 1fr);
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .title {
        @apply title--6 text-text;
    }
    p {
        @apply text-text;
    }
}

.item__home__blog1 {
    grid-area: a;

    position: relative;
    display: flex;
    flex-direction: column;
    @screen lg {
        height: 620px;

        img {
            height: 390px;
        }
    }

    p {
        @apply hidden md:flex;
    }
}
.item__home__blog2 {
    grid-area: b;

    position: relative;
    display: flex;
    flex-direction: column;

    @screen lg {
        height: 290px;

        img {
            height: 212px;
        }
    }
}
.item__home__blog3 {
    grid-area: c;

    position: relative;
    display: flex;
    flex-direction: column;

    @screen lg {
        height: 290px;

        img {
            height: 212px;
        }
    }
}
